/**
 * Grid system
 */

.column {
  padding-left:0.5em;
  padding-right:0.5em;
}


@media (min-width: 40em) { /* 640px */

  .column {
    float: left;
  }

  .column:first-child { padding-left:0; }
  .column:last-child { padding-right:0; }

  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; } /* 24.95%; */
  .column.flow-opposite { float: right; }

}